<div class="fixed-width-div">
  <%= render partial: 'uploader/shared/import_comp_header', :locals => { :active_tab => 'add_single_record' } %>
  <div class="columns large-12 white-area">
    <h2>Import Comp </h2>
    <div class="cancel"><%= link_to 'Cancel', new_uploader_tenant_record_path %></div>
    <div class="clearfix"></div>
    <%= form_for @tenant_record, url: uploader_tenant_records_path, multipart: true, remote: true, html: { autocomplete: "off",  method: :post } do |f| %>
        <%= render "uploader/shared/form" %>
    <% end %>
  </div>
</div>
