<div class="panel panel-default">
  <div class="panel-heading tx_panel-heading">
    <div class="container">
      <h4 class="panel-title"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#panel1">Advanced Search</a> </h4>
    </div>
  </div>
  <div id="panel1" class="panel-collapse collapse tx_background_black">
    <div class="container">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 tx_clear_fix"> <a href="#!" class="tx-filter-btn">Apply Filters</a> <a href="#!" class="clear-btn">Clear All</a> </div>
          <div class="col-md-4 col-sm-4 both-pad-none">
            <div class="col-md-6 col-sm6 formgroup_input"> <span>Data Type</span>
              <div class="btn-group tx_btn_group"> <a class="dropdown-toggle gm-arow" data-toggle="dropdown" href="#!" aria-expanded="true">Please Choose <span class="caret"></span></a>
                <ul class="dropdown-menu slect-list">
                  <li><a href="#!">Item I</a></li>
                  <li><a href="#!">Item II</a></li>
                  <li><a href="#!">Item III</a></li>
                  <li><a href="#!">Item IV</a></li>
                  <li><a href="#!">Item V</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Other</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 formgroup_input"> <span>Property Type <br/>
                    (Select all that apply)</span>
              <div class="boxes">
                <div class="col-md-12">
                  <div class="checkbox checkbox-info">
                    <input type="checkbox" id="checkbox7" >
                    <label for="checkbox7"> Select All </label>
                  </div>
                  <div class="checkbox checkbox-info all_clicked">
                    <input type="checkbox" id="checkbox8">
                    <label for="checkbox8"> Office </label>
                  </div>
                  <div class="checkbox checkbox-info all_clicked">
                    <input type="checkbox" id="checkbox9">
                    <label for="checkbox9"> Multi-family </label>
                  </div>
                  <div class="checkbox checkbox-info all_clicked">
                    <input type="checkbox" id="checkbox9">
                    <label for="checkbox9"> Land </label>
                  </div>
                  <div class="checkbox checkbox-info all_clicked">
                    <input type="checkbox" id="checkbox10">
                    <label for="checkbox10"> Hotel </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-8 both-pad-none">
            <div class="col-md-3 col-sm-3 formgroup_input"> <span>SQ FT Range</span>
              <input type="number" placeholder="Please Choose" max="5" min="1" name="quantity">
            </div>
            <div class="col-md-3 col-sm-3 formgroup_input"> <span>Year Sold</span>
              <div class="btn-group tx_btn_group"> <a class="dropdown-toggle gm-arow" data-toggle="dropdown" href="#!" aria-expanded="true">Please Choose <span class="caret"></span></a>
                <ul class="dropdown-menu slect-list">
                  <li><a href="#!">Item I</a></li>
                  <li><a href="#!">Item II</a></li>
                  <li><a href="#!">Item III</a></li>
                  <li><a href="#!">Item IV</a></li>
                  <li><a href="#!">Item V</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Other</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 formgroup_input"> <span>Class Type</span>
              <div class="btn-group tx_btn_group"> <a class="dropdown-toggle gm-arow" data-toggle="dropdown" href="#!" aria-expanded="true">Select<span class="caret"></span></a>
                <ul class="dropdown-menu slect-list">
                  <li><a href="#!">Item I</a></li>
                  <li><a href="#!">Item II</a></li>
                  <li><a href="#!">Item III</a></li>
                  <li><a href="#!">Item IV</a></li>
                  <li><a href="#!">Item V</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Other</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 formgroup_input"> <span>Filay Connections</span>
              <div class="btn-group tx_btn_group"> <a class="dropdown-toggle gm-arow" data-toggle="dropdown" href="#!" aria-expanded="true">Please Choose <span class="caret"></span></a>
                <ul class="dropdown-menu slect-list">
                  <li><a href="#!">Item I</a></li>
                  <li><a href="#!">Item II</a></li>
                  <li><a href="#!">Item III</a></li>
                  <li><a href="#!">Item IV</a></li>
                  <li><a href="#!">Item V</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Other</a></li>
                </ul>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 both-pad-none">
              <div class="col-md-4 col-sm-4  formgroup_range"> <span>Price Range</span>
                <input type="text" placeholder="$">
                <b> - </b>
                <input type="text" placeholder="$">
              </div>
              <div class="col-md-4 col-sm-4  formgroup_range"> <span>Cap Range</span>
                <input type="text" placeholder="%" class="text-right">
                <b> - </b>
                <input type="text" placeholder="%" class="text-right">
              </div>
              <div class="col-md-4 col-sm-4  formgroup_range"> <span>Built Range (year)</span>
                <input type="text">
                <b> - </b>
                <input type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Advanced Search-tab-end-->
</div>