<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>::Email::</title>
</head>
<style>
    .email-container{
        width:600px;
        margin:0 auto;

    }
    .email-mian-section{
        background:#d9dadc

    }

    .email-body {
        background: #fff none repeat scroll 0 0;
        margin: 20px auto;
        width: 520px;
        text-align:center;
        padding:20px;
    }

    .email-content-wrapper{
        text-align: left;
    }

    .email-main-hadding {
        font-family: arial;
        font-size: 18px;
        padding: 13px 0;
    }


    .email-header {
        background:#272626;
    }

    .email-header img {
        margin:20px 0 20px 20px;
        width:260px;
    }


</style>

<body>

<div class="email-container">
  <div class="email-mian-section">
    <div class="email-header">
      <a href="<%= root_path %>"><%= image_tag 'email-logo.png' %></a>
    </div>
    <div class="email-body">

      <div class="email-content-wrapper">

