







    </div> <!--/.email-content-wrapper-->


    </div> <!-- /.email-body-->

    <div style="background: #272726;
            height:100px;
            margin: 4px 0 0 0;color: #272726;
    "> MarketRex </div>

    </div> <!-- /.email-mian-section-->

    </div> <!-- /.email-container-->

    </body>
    </html>
