<!--main_body_section-start-->
<div class="main_body_section_grey">
  <div class="container">
    <div class="search_content">
      <div class="col-md-8 col-sm-8">
        <div class="radio_main_container">
          <div class="radio radio_color">
            <input type="radio" checked="" value="option1" id="radio1" name="radio1">
            <label for="radio1"> Lease </label>
          </div>
          <div class="radio radio_color">
            <input type="radio" value="option2" id="radio2" name="radio1">
            <label for="radio2"> Sales </label>
          </div>
          <div class="radio radio_color">
            <input type="radio" value="option2" id="radio3" name="radio1">
            <label for="radio3"> Custom </label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 both-pad-none">
        <div class="checkbox checkbox-info">
          <input type="checkbox" id="checkbox4">
          <label for="checkbox4"> Within Radius </label>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="search_bar">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input type="text" class="  search-query form-control" placeholder="Search" />
              <span class="input-group-btn">
              <button class="btn btn-danger" type="button"> <span class=" glyphicon glyphicon-search"></span> </button>
              </span> </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 both-pad-none miles_input">
        <input type="text" placeholder="1">
        Miles </div>
      <div class="col-md-2 col-sm-2 both-pad-none"> <a href="#!" class="advance_search_btn">Advance Search</a> </div>
    </div>
  </div>
</div>

<!--main_body_section-end-->
