<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="welcome-modal-popup">
  <div class="modal-dialog modal-welcome" role="document">
    <div class="modal-content welcome-mgs-modal">
      <img src="/assets/welcome-modal-xras-ixon.png" class="welcome-xras-icon" data-dismiss="modal">
      <img src="/assets/border-logo.png">
      <h1>Welcome to MarketRex! </h1>

      <p>Your arrival is a very big deal to us. To get the most out of your MarketRex  experience, we encourge you to follow these 4 simple steps in chronological order</p>
      <ol>
        <li>1. Complete your <%= link_to "profile", profile_update_path %></li>
        <li>2. Next, add some <%= link_to "data", new_uploader_tenant_record_path %></li>
        <li>3. Next, you'll be ready to <%= link_to "connect", connection_index_path %></li>
        <li>4. Once connected, you can begin your <%= link_to "search", dashboard_path %></li>
      </ol>
      <p>P.S. Don't forget, by forming connections, your data and your connection's data become instantly searchable by each other.</p>
      <p>P.S.S. But don't worry, until you approve an unlock request, your data is locked at all times (in search results) when viewed by any of your connections. </p>
    </div>
  </div>
</div>


