<tr class="tx_search_result_first_row">
      <td height="51" width="100">Status 
      	<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
      </td>
      <td width="150">Activity Date 
      	<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->	
      </td>
      <td width="200">Name 
      	<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
      	</td>
      <td></td>
      <td width="350">Address</td>
      <!-- <td>Company</td> -->
      <td width="100">Price</td>
      <td width="100">SF 
      	<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
      	</td>
      <td width="100">Sold Year 
      	<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
      	</td>
    </tr>