<tr class="tx_search_result_first_row">
      <td height="51">Status 
      	<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
      </td>
      <td>Activity Date 
      	<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
      </td>
      <td>Name 
      	<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
      </td>
      <td>Address</td>
      <td>Company</td>
      <td>Base Rent</td>
      <td>SF 
      	<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
      </td>
      <td>Year 
      	<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
      </td>
    </tr>