<div class="tx_search_result_table_container">
        <table width="100%" border="0" class="tx_search_result_table tx_search_result_table_auto  border_top_table">
          
		  <% @user_activity.each do |activity| %>
		  
		  <tr>
         
              <td width="196" height="58" class="result_line tx_border_right"><p>Username119900</p></td>
               <td width="67" class="tx_hand_right"><%= image_tag("hand-right.png")%></td>
            
            <td width="340" class="result_line result_img_icon"><p><%= image_tag("tbl-img.jpg")%> <%= "#{activity.address1}, #{activity.city}, #{activity.state} #{activity.zipcode}"%></p></td>
			
			
            <td width="176" class="result_line"><p>Locked</p></td>
            <td width="193" class="result_line"><p>Locked</p></td>
            <td width="144" class="result_line"><p>Locked</p></td>
            <td width="124" class="result_line"><p>4,000-9,999</p></td>
            <td width="98" class="result_line"><p>1971</p></td>
          </tr>
		  
		  <% end %>
         
        </table>
      </div>