<div class="body_section_inner">
  <div class="container ">
    <div class="col-md-12">
      <div class="bc_white">


<%= render :partial => 'partials/activity_log_header' %>

<div class="short_by_incomming">

  <ul class="short_by_incomming_list">
    <li class="short_seclet_list">
      <select class="selectpicker">
        <option>Sort By</option>
        <!--<option>Ketchup</option>
        <option>Relish</option>-->
      </select>
    </li>

  </ul>



</div>


<div class="tx_search_result_table_container padding-hidden  perfectScrollbar-wheel">
  <table width="100%" border="0" class="tx_search_result_table ">
    <tr class="tx_search_result_first_row">
      <td height="51">Status <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
      <td>Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
      <td>Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
      <td>Address</td>
      <td>Header</td>
      <td>Header</td>
      <td>Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
      <td>Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td>
      <td>Header </td>
      <td>Header </td>
      <td>Header</td>
      <td></td>
    </tr>

    <%= render @activity_logs %>


  </table>
</div>


<style>
    .result_lock_icon{font-size:13px;}
    .lock_img{width:25px !important;}
    .unlock_img{width:23px !important;}
    .partial_img{width:27px !important;}
</style>



      </div>
    </div>
  </div>
</div>