<div class="body_section_inner">
  <div class="container ">
    <div class="col-md-12">
      <div class="bc_white">


<%= render :partial => 'partials/activity_log_header' %>

<div class="short_by_incomming">

  <ul class="short_by_incomming_list">
    <li class="short_seclet_list">
      <select class="selectpicker">
        <option>Sort By</option>
        <!--<option>Ketchup</option>
        <option>Relish</option>-->
      </select>
    </li>

  </ul>



</div>


<div class="tx_search_result_table_container padding-hidden  perfectScrollbar-wheel">
  <table width="100%" border="0" class="tx_search_result_table ">
  	
  	<%= render "activity_#{params[:comp_type]}_header"%>
  	
  	<% if @activity_logs.count > 0 %>
  		<%= render @activity_logs %>
  	<% else %>
  		<tr><td height="51" class="result_lock_icon" colspan="8">No activity Found</td></tr>
  	<% end %>
  	
  </table>
</div>


<style>
    .result_lock_icon{font-size:13px;}
    .lock_img{width:25px !important;}
    .unlock_img{width:23px !important;}
    .partial_img{width:15px !important;}
    .tx_search_result_table{width: 100% !important;}
</style>



      </div>
    </div>
  </div>
</div>