<script id="template_pending_download" type="text/template">
    <div class="pending_download popup-alignment">
        <p class="text-center"><%= image_tag 'ajax-loader.gif', :id => 'loader' %></p>
    </div>
</script>
