<script id="template_results_table_header_sale" type="text/html">
<!--<table class="table responsive">-->
<br>
<br>
<table width="100%" border="0" class="tx_search_result_table table_full">
    <thead>
	
	<tr class="tx_search_result_first_row">
		<td height="51"></td>
		<td>Address <a href="#!"><i class="fa fa-caret-down"></i></a></td>
		<td>Sales Price</td>
		<td>Cap Rate</td>
		<td>SQ</td>
		<td>Year <a href="#!"><i class="fa fa-caret-down"></i></a></td>
		<td>Actions <a href="#!"><i class="fa fa-caret-down"></i></a></td>
		<td>Status <a href="#!"><i class="fa fa-caret-down"></i></a></td>
		<td></td>
		<td class="filter_icon"></td>
	</tr>
  
  
    </thead>
    <tbody>
    </tbody>
  </table>
  <br>
  <br>
</script>
