
<script id="template_results_table_row_lease" type="text/html">
{{#id}}
<tr>
    <td height="51" class="result_img_icon"><%#= image_tag("tbl-img.jpg") %>
    		<a href="http://www.google.com/maps?cbll={{latitude}},{{longitude}}&layer=c" target="_blank">
              <div class="" style="height:40px; width: 40px; background: #edeced url('http://maps.googleapis.com/maps/api/streetview?size=50x50&location={{address1}}+{{city}}+{{state}}+{{zipcode}}') no-repeat center;">
              </div>
            </a>
            
            
    </td>
    <td class="result_line"><a href="<%= search_lease_comp_path()%>/{{id}}"><i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i></a></td>
    <td class="result_line">
      <!--<a href="#!<%#= search_lease_comp_path(42) %>?id={{id}}" class="get_comp" data-href="<%#= search_lease_comp_path()%>?id={{id}}" data-toggle="modal" data-target="#update-comp-detail">Details</a>-->
      <strong>{{address1}}</strong>
    </td>
    <td class="result_line"><p>{{company}}</p></td>
    <td class="result_line"><p>{{base_rent}}</p></td>
    <!-- <td class="result_line"><p>Locked</p></td> -->
    <td class="result_line"><p>{{size}}</p></td>
    <td class="result_line"><p>{{year}}</p></td>
    <td class="table_result_amker">
      <span class="{{requestunlock_class}}" data-url="<%= create_comp_requests_path()%>?cid={{id}}&type=lease">
        {{{Request_Unlock_text}}}
      </span>
    </td>
    <td class="result_lock_icon">{{{cpstatus}}}</td>
   <td class="filter_icon">

     <div class="dropdown">
         <span data-toggle="dropdown"><a href="#!"><i class="fa fa-caret-square-o-down fa-lg" aria-hidden="true"></a></i></span>
       <ul class="dropdown-menu pull-right">
         <li class="markspam" data-url="<%= flaged_comps_create_path()%>/{{id}}/?type=lease"><a href="#!" >Mark Spam</a></li>
       </ul>
     </div>

   </td>
</tr>
{{/id}}
{{^id}}
<tr class="adjust_table_height"><td colspan="9"></td></tr>
{{/id}}
</script>


