<script id="template_search_results" type="text/html">
<div class="property_types tabs">
  <!--<ul>
  <% TenantRecord.const_get('PROPERTY_TYPE').each do |property_type| %>
    <li>
      <a href="#" data-type="<%= property_type %>"><%= property_type.capitalize %> <span class="count">*</span></a>
    </li>
  <% end %>
  </ul>-->
</div>
<div class="inner-container">
 <!-- <div class="header">
    <a data-section_head_for="results" class="icon" href="#"><span>Search Results</span></a>
    <div class="up_arrow"></div>
    <div class="comp_report custom-report-multi-comp"><a class="btn" href="#"><span>Comp Report</span></a></div>
    <div class="export_results"><a class="btn" href="#"><span>Export Results</span></a></div>
  </div>-->
  <div class="body"></div>
</div>


<!-- .inner-container -->
</script>
