<script id="template_map_display" type="text/html"

  <%## if !@extra_user.account.office.nil? && !@extra_user.account.office.latitude.blank? %>
  
  data-latitude="
  
  <%##=@extra_user.account.office.latitude %>"
  
  <%## end %>
  
  <%## if !@extra_user.account.office.nil? && !@extra_user.account.office.longitude.blank? %>
  
  data-longitude="<%##=@extra_user.account.office.longitude %>"
  
  <%## end %>
  
  data-user_defined_maps_url="<%##= dashboard_user_maps_path %>">
  
  <div class="header"><h2>Draw Your Market <a href="#" class="close">x</a></h2></div>
  <div class="map-container">
    <p>Use our map tool to create a custom target market.</p>
    <div id="map" data-add_url="<%##= user_map_add_path %>" data-delete_url="<%##= user_map_delete_path %>"></div>
    <div id="map_controls">
    <nav><ul>
        <li><a href="#" class="zoom zoom-in btn btn-inverse"><span>+</span></a> <a href="#" class="zoom zoom-out btn btn-inverse"><span>-</span></a></li>
    <!--<li>-->
      <!--<div id="mode-select" class="dropdown-select-wrapper">-->
        <!--<ul class="dropdown dropdown_click" data-parent="#mode-select">-->
          <!--<li data-hidden_id="mode" data-mode="pan" class="mode"><span>Drag Map</span><i class="arrow">&#x25BC;</i></li>-->
          <!--<li data-hidden_id="mode" data-mode="drawPolygon" class="mode active"><span>Draw Freestyle</span><i class="arrow">&#x25BC;</i></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</li>-->
      <li>&nbsp;</li>
      <li>&nbsp;</li>
      <li>&nbsp;</li>
    <li><a href="#" class="center-map btn btn-inverse"><span>Reset</span></a></li>
    <li class="spacer" id="instructions">
      <p id="drawPolygon-instructions">Click to form the outline of your submarket.  Double-click to finish.</p>
    </li>
    <li id="saved_maps">
      <div id="saved-map-select" class="dropdown-select-wrapper">
        <ul class="dropdown">
          <li data-hidden_id="saved_map_id" class="dropdown_click active" data-parent="#saved-map-select"><span>Use Saved</span><i class="arrow">&#x25BC;</i></li>
        </ul>
        <div class="options clearfix">
          <ul>
            <li class="separator"><label><span>Your Office Defined Markets</span></label></li>
            <li class="office_defined_maps">
              <ul>
              <%## if @office_maps.empty? %>
                <li><p><span class="empty">None Available</span></p></li>
              <%## else %>
                <%## @office_maps.each do |map| %>
                <li class="coordinate coordinate_<%##= map.id %>" id="coordinate_<%##= map.id %>" data-id="<%##= map.id %>" data-mode="<%##= map.mode %>" data-latitude="<%##= map.latitude %>" data-longitude="<%##= map.longitude %>">
                  <p><span class="map_name" data-coordinate_id="coordinate_<%##= map.id %>"><%##= map.name %></span></p>
                </li>
                <%## end %>
              <%## end %>
              </ul>
            </li>
            <li class="separator"><label><span>Your Saved Markets</span></label></li>
            <li class="user_defined_maps">
              <ul>
              {{^user_defined_maps}}
              <li><p><span class="empty">None Available</span></p></li>
              {{/user_defined_maps}}
              {{#user_defined_maps}}
              <li class="coordinate coordinate_{{id}}" id="coordinate_{{id}}" data-id="{{id}}" data-mode="{{mode}}" data-latitude="{{latitude}}" data-longitude="{{longitude}}">
                <p><%## if can? :delete, Map %><span class="delete" data-coordinate_id="coordinate_{{id}}">x</span> <%##end%><span class="map_name" data-coordinate_id="coordinate_{{id}}">{{name}}</span></p>
              </li>
              {{/user_defined_maps}}
              </ul>
            </li>
          </ul>
        </div>
      </div>
      </li>
    <%## if can? :create, Map %>
    <li>
      <ul><li class="checkbox"><input type="checkbox" id="save_map" /><label for="save_map"><span>Save this market:</span></label></li></ul>
    </li>
    <li><input type="text" id="map_name" placeholder="Market Name" /></li>
    <%## end %>
    <li><a href="#" class="btn btn-red use_map"><span>Done</span></a></li>
    </ul></nav>
    </div>
  </div>
</script>
