<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>White Glove Service</h1>
<p>
  Click on the link and get file.
  </br>
  <a href="<%= @file %>">Download</a>
</p>
<p>
  </br>
  Please use the link below to process the request.(you need to be logged in with admin  access.)
  </br>
  <a href="<%= @encrypted_data %>">Link</a>

  Geo-coding is <%=(@is_geo_coded == true ? "":"Not ") %> required
</p>
</body>
</html>