<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>White Glove Service</h1>
<p>
  The client has requested to bulk upload <a href="<%= @file %>"> this sheet</a> .
</p>
<p>
  <br>
  Please use this <a href="<%= @encrypted_data %>">Link</a> to process the request( You need to be logged in with admin access).
  <br>
  Geo-coding is <%=(@is_geo_coded == true ? "":"Not ") %> required
</p>
</body>
</html>