<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your White Glove Service Request has been completed!</h1>
<p>
  Click on the following link to view the updates.
  </br>
  <a href="<%= @redirect %>"> Your Current Imports</a>
</p>

</body>
</html>