<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>White Glove Service</h1>
<p>
  Click on the link and get file
  </br>
  <a href="<%= @file %>">Download</a>
</p>
<p>
  </br>
  Go to to the following link
  </br>
  <a href="<%= @encrypted_data %>">Link</a>
</p>
</body>
</html>