<tr class="single-additional-cost-{{type}}">
  <td>Additional {{header}} Allowance {{index}}</td>
  <td><%= text_field_tag 'additional_cost[{{type}}][{{index}}]', "", class: 'stepped-rent-cost-per-month', id: "additional_cost_{{type}}_{{index}}" %></td>
</tr>