
<div class="large-12 columns custom-fields-table-container">
  <h5>Custom Data</h5>
  <table id="custom-fields-table3" class="">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% if f.object.custom %>
        <% f.object.custom.each_with_index do |(key, value), index| %>
        <tr>
          <td>
            <%= text_field :custom, index, name: "tenant_record[custom][#{index}][key]", value: key.split('_').map(&:capitalize).join(' ') %>
          </td>
          <td>
            <%= text_field :custom, index, name: "tenant_record[custom][#{index}][value]", value: value %>
          </td>
          <td class="actions">
            <a href="#" type="button" class='btn btn-red delete-custom-field'><span>delete</span></a>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="add-custom-data-single-comp-td1">
            <button class="add-custom-data-single-comp1">+Add Custom Data Row</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<script type="text/template" id="custom-field-row-tmpl-1">
  <tr>
    <td>
      <%= text_field :custom, "{{row}}", name: "tenant_record[custom][{{row}}][key]" ,  :class =>'validate[required]'%>
    </td>
    <td>
      <%= text_field :custom, "{{row}}", name: "tenant_record[custom][{{row}}][value]"%>
    </td>
    <td class="actions">
      <a href="#" type="button" class='btn btn-red delete-custom-field'><u><span>Delete</span></u></a>
    </td>
  </tr>
</script>

