<% if false %>
<footer class="row expanded clearfix">
  <div class="fixed-width-div text-right">
    <div class="columns large-12 footer-nav">
      <ul>
        <li><a href="javascript:void(0)" >ABOUT</a></li>
        <li><a href="javascript:void(0)" >CONTACT</a></li>
      </ul>
    </div>
    <div class="columns large-12 footer-policy">
      <ul>
        <li>&copy<%= Time.now.year %> MARKETREX, LLC.</li>
        <li>|</li>
        <li><a href="javascript:void(0)" >TERMS FOR SERVICES</a></li>
        <li>|</li>
        <li><a href="javascript:void(0)" >PRIVACY POLICY</a></li>
      </ul>
    </div>
  </div>
</footer>
<% end %>