<div id="dialog-message-dalay-start-date-mr" title="Delay Start Date">
  <p class="container">
    <span>Delay Start Date: </span>
    <input class="date" id="delay_start_date_field" name="delay_start_date_field" placeholder="Delay Start Date" type="text" value="">
  </p>
</div>