var header_arr = <%= @headers %>;
var options = '<option>Please select</option>';

for (var i = 0; i < header_arr.length; i++) {
  options += '<option value=' + header_arr[i].replace(/\s/g, '_') + '>' + header_arr[i] + '</option>';
}

$('.bulk-column-header-dd').each(function(i, obj) {
  $(obj).html(options);
});

$('#upload_file_tmp_url').val('<%= @updated_file_name %>');
$('.uploaded_file_name').html('You have uploaded "<b><%= @filename %></b>"').show();
