<!DOCTYPE html>
<html>
<head>
<title>::Market-Tent-Research_Rex::</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/buttons.css">
<link rel="stylesheet" href="css/build.css"/>
<link rel="stylesheet" href="css/bootstrap-select.min.css"/>
<link rel="stylesheet" href="css/perfect-scrollbar.css"/>
<link type="text/css" rel="stylesheet" href="css/font-awesome.css">
<style></style>
</head>
<body class="grey_background">
<!--navigation-start-->
<nav role="navigation" class="navbar tx_navbar navbar-static" id="navbar-example">
  <div class="container">
    <div class="navbar-header">
      <button data-target=".bs-example-js-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
      <ul class="nav tx_nav navbar-nav">
        <li class="active"> <a href="index.html">Market <span class="grey_color">Rex</span></a> </li>
        <li class=""> <a href="#"><i>Tenant</i> <span class="grey_color">Rex</span></a> </li>
        <li class=""> <a href="#"><i>Lease</i> <span class="grey_color">Rex</span></a> </li>
        <li class=""> <a href="#"><i>Research</i> <span class="grey_color">Rex</span></a> </li>
      </ul>
      <ul class="nav navbar-nav tx_nav_right navbar-right">
        <li class="dropdown tx_dropdown " id="fat-menu"> <a  class="dropdown-toggle tx-drop-down connetection-link " role="button" id="drop6" href="#"> <img src="img/tex-book-icon.png" class="drom-icon"> 752 Connections </a> </li>
        <li class="dropdown tx_dropdown" id="fat-menu"> <a data-toggle="dropdown" class="dropdown-toggle tx-drop-down " role="button" id="drop3" href="#"> <img src="img/star-icon.png" class="drom-icon"> 752 Comps <b class="caret"></b></a>
          <ul aria-labelledby="drop3" role="menu" class="dropdown-menu tx_drop_menu">
            <li role="presentation">
              <div class="tx_sign_drop_down">
                <div class="form-group"> <a href="sign_in.html"type="button" class=" btn-block tx_orange_btn tx_orange_btn-sign">Sign In</a> </div>
              </div>
            </li>
            <li role="presentation tx_new_customer"> <a href="sign_up.html">New Customers</a> </li>
          </ul>
        </li>
        <li class="dropdown tx_dropdown" id="fat-menu"> <a data-toggle="dropdown" class="dropdown-toggle tx-drop-down " role="button" id="drop3" href="#"> <img src="img/user-icon.png" class="drom-icon"> Sign In <b class="caret"></b></a>
          <ul aria-labelledby="drop3" role="menu" class="dropdown-menu tx_drop_menu tx_drop_menu_user">
            <li role="presentation tx_new_customer"> <a href="sign_up.html">Profile</a> </li>
            <li role="presentation tx_new_customer"> <a href="sign_up.html">Upload Help</a> </li>
            <li role="presentation tx_new_customer"> <a href="sign_up.html">Logout</a> </li>
          </ul>
        </li>
        <li class="dropdown tx_dropdown tx_abslute_position" id="fat-menu"> <a data-toggle="dropdown" class="dropdown-toggle tx-drop-down " role="button" id="drop3" href="#"> <img src="img/setting.png" class="drom-icon"> <b class="caret"></b></a>
          <ul aria-labelledby="drop3" role="menu" class="dropdown-menu tx_drop_menu tx_drop_menu_user">
            <li role="presentation tx_new_customer"> <a href="sign_up.html">Profile</a> </li>
            <li role="presentation tx_new_customer"> <a href="sign_up.html">Upload Help</a> </li>
            <li role="presentation tx_new_customer"> <a href="sign_up.html">Logout</a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--navigation-end--> 
<!--body_section-inner-->
<div class="body_section_inner"> 
  
  <!--advance search result-->
  <div class="container">
    <div class="tx_activiti_fiulter">
      <div class="col-md-1">
        <div class="tx_tracker_box_round_content tx_small_round tx_small_round_red">
          <p> L</p>
        </div>
      </div>
      <div class="col-md-11 tx_activiti_fiulter_content">
        <h1>Connections</h1>
        <div class="btn-group tx_btn_group"> 
        <div class=" tx_dropdown_toggl">
    <select class="selectpicker">
  <option>Mustard</option>
  <option>Ketchup</option>
  <option>Relish</option>
</select>
</div>


       
        
        
          <div class="tx_click"><a href="#"><img src="img/clik-edit.png"></a></div>
          

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog  tx_invite_modal-dialog">
        <div class="modal-content">
            <div class="modal-header  tx_invite_modal-header">
            <button type="button" class="close tx_close" data-dismiss="modal" aria-hidden="true"><img src="img/xras-icon.png"></button>
            <h4 class="modal-title" id="myModalLabel">Add New Connections</h4>
            </div>
            <div class="modal-body tx_invite_modal-body">
                <input type="text" placeholder="Invite by email address" class="tx_invite_email">
               <textarea placeholder="I'd like to share my comp database with you."></textarea>
            </div>
            <div class="modal-footer text-center">
               
                <button type="button" class="btn btn-primary invite_save" data-dismiss="modal">Save changes</button>
        </div>
    </div>
  </div>
</div>

          </div>
          

        </div>
      </div>
   
    <div class="tx_mgs_sender">
      <div class="col-md-3">
        <div class="tx_search_filter">
          <input type="text" placeholder="Search">
          <a href="#!"><img src="img/search-filter-icon.png"></a> </div>
        <div class="tx_mgs_click_hole perfectScrollbar-wheel">
          <div class="tx_mgs_click tx_mgs_click_active"> <a href="#!">
            <div class="media tx_media">
              <div class="media-left tx_media"> <img class="media-object" src="img/mgs-user-img.jpg" alt="Generic placeholder image"> </div>
              <div class="media-body tx_media_body">
                <h4 class="">Username</h4>
                <p>Lorem ipsom ett...</p>
                <span>june <img src="img/mgs-dlt.png" id="delete_mgs"> </span> </div>
            </div>
            </a> </div>
          <div class="tx_mgs_click"> <a href="#!">
            <div class="media tx_media">
              <div class="media-left tx_media"> <img class="media-object" src="img/mgs-user-img.jpg" alt="Generic placeholder image"> </div>
              <div class="media-body tx_media_body">
                <h4 class="">Username</h4>
                <p>Lorem ipsom ett...</p>
                <span>june <img src="img/mgs-dlt.png" id="delete_mgs"> </span> </div>
            </div>
            </a> </div>
          <div class="tx_mgs_click"> <a href="#!">
            <div class="media tx_media">
              <div class="media-left tx_media"> <img class="media-object" src="img/mgs-user-img.jpg" alt="Generic placeholder image"> </div>
              <div class="media-body tx_media_body">
                <h4 class="">Username</h4>
                <p>Lorem ipsom ett...</p>
                <span>june <img src="img/mgs-dlt.png" id="delete_mgs"> </span> </div>
            </div>
            </a> </div>
          <div class="tx_mgs_click"> <a href="#!">
            <div class="media tx_media">
              <div class="media-left tx_media"> <img class="media-object" src="img/mgs-user-img.jpg" alt="Generic placeholder image"> </div>
              <div class="media-body tx_media_body">
                <h4 class="">Username</h4>
                <p>Lorem ipsom ett...</p>
                <span>june <img src="img/mgs-dlt.png" id="delete_mgs"> </span> </div>
            </div>
            </a> </div>
          <div class="tx_mgs_click"> <a href="#!">
            <div class="media tx_media">
              <div class="media-left tx_media"> <img class="media-object" src="img/mgs-user-img.jpg" alt="Generic placeholder image"> </div>
              <div class="media-body tx_media_body">
                <h4 class="">Username</h4>
                <p>Lorem ipsom ett...</p>
                <span>june <img src="img/mgs-dlt.png" id="delete_mgs"> </span> </div>
            </div>
            </a> </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tx_mgs_detail">
        
         <div class="tx_mgs_detail_head">
          <div class="media tx_media_detail">
            <div class="media-left tx_media"> <img alt="Generic placeholder image" src="img/mgs-user-img.jpg" class="media-object"> </div>
            <div class="media-body tx_media_body_detail">
              <h4 class="">Username</h4>
              <a href="#!" class="tx_drop_mgs"><img src="img/drop-icon.png"></a>
              <p>First Name</p>
              
            </div>
          </div>
          </div>
           <div class="tx_mgs_detail_live perfectScrollbar-wheel">
           <h5>June 12</h5>
            <div class="tx_mgs_detail_live_left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <span>2:20PM</span>
            </div>
            <div class="tx_mgs_detail_live_right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              <span>2:20PM</span>
           </div>
           <div class="tx_mgs_detail_live_left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <span>2:20PM</span>
            </div>
            <div class="tx_mgs_detail_live_right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              <span>2:20PM</span>
           </div>
           <div class="tx_mgs_detail_live_left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <span>2:20PM</span>
            </div>
            <div class="tx_mgs_detail_live_right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              <span>2:20PM</span>
           </div>
           <div class="tx_mgs_detail_live_left">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <span>2:20PM</span>
            </div>
            <div class="tx_mgs_detail_live_right">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              <span>2:20PM</span>
           </div>
           </div>
            <div class="tx_mgs_detail_chat_box">
            <div class="tx_border">
            <div class="tx_reply_forwad">
            <p>Click here to <a href="#!">reply</a> or <a href="#!"> forward</a></p>
            </div>
            <textarea>
            </textarea>
             <div class="tx_send_attachment">
             
             <button>Send</button>
             <a href="#"><img src="img/atchment.png"></a>
           
            </div>
            </div>
            
            </div>
           
        </div>
      </div>
    </div>
 
  
  <!--advance search result end--> 
   </div>
</div>
<!--body_section-inner-end--> 

<!--footer-start-->
<footer class="tx_footer">
  <div class="container">
    <ul class="tx_footer-menu">
      <li><a href="#">FAQ</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
    <ul class="tx_footer-links">
      <li><a href="#">&copy; 2016 TENANTREX, LLC.</a></li>
      <li><a href="#">TERMS OF SERVICE </a></li>
      <li><a href="#">PRIVACY POLICY</a></li>
    </ul>
  </div>
</footer>
<!--footer-end--> 

<!-- JavaScript Includes --> 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.mousewheel.js"></script> 
<script src="js/perfect-scrollbar.js"></script> 
<script src="js/custom.js"></script> 
<script src="js/bootstrap-select.min.js"></script> 
</script> 
<script type="text/javascript" language="javascript" src="js/jquery.dataTables.min.js"></script> 
<script>
	$(document).ready(function() {
    $('#example').DataTable();
	 "scrollX": true
} );
	</script>
</body>
</html>
