/*****************************   Colors   *****************************/
$light-red: #ce5b55 /* #C61f26 */;
$red: #a52c25;
$dark-red: #a52c25; /*#B8201D; */
$darker-red: #a52c25; /*#C5181C; /* #C4171B */
$lighter-orange: #ffca7e;
$light-orange: #e1ae52; /* #F49500; */
$orange: #dc9b00; /* #e1aa00; */ /* #F59500 */
$dark-orange: #b95005;
$lighter-gray: #fafafa;
$popup_header: #d9dadc; /* ecedee; */
$light-gray: #ecedee; /* ecedee; */
$gray: #cccccc;
$dark-gray: #666666;
$popup_color: #484848;
$darker-gray: #404040;
$darkest-gray: #262626;
$white: #ffffff;
$green: #4DCC5D;
$text-gray: #4a4949;
$match_empty_results: #fafafa;
$green: #35dc00;
$light-green: #90c76c;
$valid-green: #90c76c;
$blue: #2a85e8;
$dark-blue: #11639d;

/*****************************   Helpers   *****************************/ 
@mixin clearfix() {
  zoom: 1;
  &:before { content: ' '; display: table; }
  &:after  { content: ' '; display: table; clear: both; }
}
@mixin small-text-shadow($col) {
  text-shadow: 1px 1px 2px $col;
  //filter: dropshadow(color=#000000, offx=1, offy=1);
}
@mixin dynamic-corners($amount) {
  -webkit-border-radius: $amount;
  -moz-border-radius: $amount;
  border-radius: $amount;
}
@mixin dynamic-corners-left($amount) {
  -webkit-border-radius-topleft: $amount;
  -moz-border-radius-topleft: $amount;
  border-top-left-radius: $amount;
  -webkit-border-radius-bottomleft: $amount;
  -moz-border-radius-bottomleft: $amount;
  border-bottom-left-radius: $amount;
}
@mixin dynamic-corners-right($amount) {
  -webkit-border-radius-topright: $amount;
  -moz-border-radius-topright: $amount;
  border-top-right-radius: $amount;
  -webkit-border-radius-bottomright: $amount;
  -moz-border-radius-bottomright: $amount;
  border-bottom-right-radius: $amount;
}
@mixin dynamic-box-shadow($amount){
  -webkit-box-shadow:  $amount $amount 5px 0 #333333;
  box-shadow:  $amount $amount 5px 0 #333333;
}
@mixin gradient-one {
  background: #dcdcdc; /* Old browsers */
  background: -moz-linear-gradient(top,  #dcdcdc 1%, #ffffff 3%, #ffffff 6%, #f5f5f5 7%, #ffffff 97%, #ffffff 98%, #dcdcdc 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dcdcdc), color-stop(3%,#ffffff), color-stop(6%,#ffffff), color-stop(7%,#f5f5f5), color-stop(97%,#ffffff), color-stop(98%,#ffffff), color-stop(99%,#dcdcdc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dcdcdc 1%,#ffffff 3%,#ffffff 6%,#f5f5f5 7%,#ffffff 97%,#ffffff 98%,#dcdcdc 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dcdcdc 1%,#ffffff 3%,#ffffff 6%,#f5f5f5 7%,#ffffff 97%,#ffffff 98%,#dcdcdc 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dcdcdc 1%,#ffffff 3%,#ffffff 6%,#f5f5f5 7%,#ffffff 97%,#ffffff 98%,#dcdcdc 99%); /* IE10+ */
  background: linear-gradient(to bottom,  #dcdcdc 1%,#ffffff 3%,#ffffff 6%,#f5f5f5 7%,#ffffff 97%,#ffffff 98%,#dcdcdc 99%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}

@mixin inline-block() {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}


/* Fonts
-------------------------------------------------------------------------------*/
@font-face {
       font-family: 'MavenProLight-100';
       src: font-url('MavenProLight-100.eot');
       src: font-url("MavenProLight-100.ttf") format('truetype');
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: 'MavenProLight-200';
       src: font-url('MavenProLight-200.eot');
       src: font-url('MavenProLight-200.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: 'MavenProLight-300';
       src: font-url('MavenProLight-300.eot');
       src: font-url('MavenProLight-300.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}
/*------------------------ Proxima Nova ----------------*/

@font-face {
  font-family: 'ProximaNova';
  src: font-url('ProximaNova.eot');
  src: font-url('ProximaNova.woff') format('woff'),
  font-url('ProximaNova.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}