.tx_creat_freeaccount.txcreat_freeaccount {
    background: #bd202e none repeat scroll 0 0;
}
.tx_commercial_white.lx_commercial_white h4{
 
    margin: 50px 0 33px;
  
}
.protected_box_left.lx-protected_box_left h2 {

    margin: 32px 0 0;
}

.protected_box.tx-protected_box h2 {

    margin: 32px 0 0;
}
.tx_footer.tx-footer {
    background: #bd202e none repeat scroll 0 0;
}
.compsotion_detail.tx-compsotion_detail {
    padding: 35px 0 18px;
}
.connetion_detail.tx-connetion_detail {
    padding: 20px 0 18px;
}
.search_detail.tx-search_detail {
    padding: 17px 0;
}
.activity_detail.tx-activity_detail {
    padding: 31px 0 18px;
}
.text_center.tx-text_center {
    margin: 0 0 19px ;
}
.tx_other_products.tx-other-products {
	margin:0;
    padding: 0 0 76px;
	background:#f1f2f2;
}.tx_solutions_box.tr_solutions_box {
    background: #262626 none repeat scroll 0 0;
}
.tx-intelligence {
    font-size: 18px;
}
.protected_box.tx-protected_box p {
    margin: 18px 0 0;
}
.protected_box_left.lx-protected_box_left p {
    margin: 27px 0 0;
}