.tx_creat_freeaccount.lx_creat_freeaccount {
    background: #87365f none repeat scroll 0 0;
}
.tx_commercial_white.lx_commercial_white h4{
 
    margin: 50px 0 33px;
  
}
.protected_box_left.lx-protected_box_left h2 {

    margin: 32px 0 0;
}

.protected_box.tx-protected_box h2 {

    margin: 32px 0 0;
}
.tx_footer.lx-footer {
    background: #87365f none repeat scroll 0 0;
}
.tx-intelligence {
    font-size: 18px;
    
}