/* -------------------------------------------------------about-----------------------------------------------------*/

.tx_creat_freeaccount {
	background: #556db1 none repeat scroll 0 0;
	padding: 25px 0;
	text-align: center;
}
.tx_creat_freeaccount > a {
	color: #fff;
	font-size: 23px;
	font-weight: bold;
}
.tx_commercial_black h1 {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 47px;
    padding: 111px 67px 111px 0;
}
.tx_commercial_white h4 {
	line-height: 26px;
	margin: 0 0 33px;
	width: 344px;
}
.tx_solutions_box_border {
    float: left;
    width: 100%;
	border-top: 1px solid #414042;
}
.tx_commercial_black {
	background: #282828 none repeat scroll 0 0;
}
.tx_commercial_white {
	padding: 62px 99px 0;
}
.border-logo {
	bottom: -52px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
	width: 50px;
	z-index: 111111111;
}
.tx_commercial_contant {
	float: left;
	position: relative;
	width: 100%;
}
.tx_plat_form > h4 {
	line-height: 27px;
	margin: 62px auto;
	width: 419px;
}
.border-logo-defurt {
	margin: 0 0 34px;
	width: 50px;
}
.tx_plat_form {
	background: #f1f2f2 none repeat scroll 0 0;
	float: left;
	padding: 110px 0 0;
	position: relative;
	text-align: center;
	width: 100%;
}
.tx_plat_form > img {
	width: 459px;
}
.tx_solutions_box {
	background: #414042 none repeat scroll 0 0;
	float: left;
	padding: 106px 0 0;
	width: 100%;
	
}



.search_detail {
	background: #d1d3d4 none repeat scroll 0 0;
	float: left;
	padding: 39px 0 17px;
	width: 100%;
}
.tx_solutions_box_hadding {
	color: #fff;
	font-weight: bold;
	margin: 0 0 38px;
	font-size: 29px;
	text-align: center;
}
.screen_width_left {
	float: right;
}
.text_center {
	float: left;
	margin: 0 0 55px;
	text-align: center;
	width: 100%;
}

.tx_solutions_box_contant {
	border: 1px solid #fff;
	float: left;
	padding: 39px 0;
	position: relative;
	text-align: center;
	width: 100%;
}
.tx_solutions_box_contant > h1 {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	margin: 18px 0 0;
}
.tx_box_arow {
	position: absolute;
	right: -54px;
	top: 74px;
	width: 34px;
}
.tx_solutions_box > div .col-md-3 {
	padding: 0 33px;
}
.protected_box p {
	font-size: 17px;
	margin: 42px 0 0;
}
.protected_box h2 {
	font-size: 23px;
	font-weight: bold;
}
.protected_box {
	float: left;
	margin: 0 0 0 51px;
	width: 393px;
}
.compsotion_detail {
	background: #fff none repeat scroll 0 0;
	float: left;
	padding: 53px 0 18px;
	width: 100%;
}
.connetion_detail {
	background: #f1f2f2 none repeat scroll 0 0;
	float: left;
	padding: 53px 0 18px;
	width: 100%;
}
.activity_detail {
	background: #bcbec0 none repeat scroll 0 0;
	float: left;
	padding: 53px 0 18px;
	width: 100%;
}
.protected_box_left {
	float: right;
	margin: 0 51px;
	width: 393px;
}
.screen_width_right {
	float: left;
}
.protected_box_left h2 {
	font-size: 23px;
	font-weight: bold;
}
.protected_box_left p {
	font-size: 17px;
	margin: 42px 0 0;
}
.tx_btn_eria {
	background: #231f20 none repeat scroll 0 0;
	float: left;
	padding: 47px 0;
	text-align: center;
	width: 100%;
}
.tx_btn_eria a {
	background: #231f20 none repeat scroll 0 0;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
	padding: 16px 50px;
	text-align: center;
}
.tx_btn_eria a:hover {
	background: #fff none repeat scroll 0 0;
	color: #231f20;
}
.tx_other_products_contant h3 {
	font-size: 15px;
	margin: 17px 0 12px 12px;
}
.tx_other_products_contant {
	width: 223px;
	float:left;
	margin: 0 0 0 92px;
}
.tx_other_products_contant.tx_other_products_contant_right {
	float:right;
	margin: 0 119px 0 0;
}
.tx_other_products_hadding {
	font-size: 30px;
	font-weight: bold;
	margin: 64px 4px 51px 0;
	text-align: center;
}
.solutions-list > li h2 {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	margin: 18px 0 0;
}
.solutions-list > li {
	border: 1px solid #fff;
	display: inline-block;
	margin: 0 30px;
	   z-index: 2;
	padding: 11px 0;
	position: relative;
	text-align: center;
	width: 171px;
}
.solutions-box-icon {
	position: absolute;
	right: -51px;
	top: 45px;
	width: 30px;
}
.solutions-list {
	text-align: center;
}
.tx_other_products_contant > a {
	color: #000;
	float: left;
	font-weight: bold;
	margin: 0 0 0 11px;
}
.tx_other_products {
	float: left;
	margin: 0 0 76px;
	width: 100%;
}
.grey_background {
	overflow-x: hidden;
}



#chevron {
	position: relative;
	text-align: center;
	padding: 12px;
	margin-bottom: 6px;
	height: 60px;
	width: 200px;
}

.tx_solutions_box_grey {
    float: left;
    margin-bottom: 6px;
    padding: 12px;
    position: relative;
    text-align: center;
    width: 100%;
}





.tx_solutions_box_grey::before {
    background: red none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
   -webkit-transform: skew(0deg, 6deg);
	-moz-transform: skew(0deg, 6deg);
	-ms-transform: skew(0deg, 6deg);
	-o-transform: skew(0deg, 6deg);
	transform: skew(0deg, 6deg);
    width: 51%;
}
.tx_solutions_box_grey::after {
    background: red none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: skew(0deg, -6.2deg);
    width: 49%;
}







#chevron:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 51%;
	background: red;
	-webkit-transform: skew(0deg, 6deg);
	-moz-transform: skew(0deg, 6deg);
	-ms-transform: skew(0deg, 6deg);
	-o-transform: skew(0deg, 6deg);
	transform: skew(0deg, 6deg);
}
#chevron:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	background: red;
	-webkit-transform: skew(0deg, -6deg);
	-moz-transform: skew(0deg, -6deg);
	-ms-transform: skew(0deg, -6deg);
	-o-transform: skew(0deg, -6deg);
	transform: skew(0deg, -6deg);
}
​ 
/* -------------------------------------------------------about-----------------------------------------------------*/

