/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require buttons
 *= require font-awesome
 *= require build
 *= require bootstrap-select.min
 *= require perfect-scrollbar
 *= require jquery.dataTables.min
 *= require custom
 *= require animate-words
 *= require about
 *= require cost
 *= require groups
 *= require style
 *= require_self
 */


.dark-footer{background: #262626;}


/*--- fixes to pages ----*/
.bc_white{
    overflow:hidden;
}
.tx_search_result_table td.text-center{
    text-align:center;
}

/*--- connections page additional styles */
.connection-record .result_img_icon{
    padding-top: 10px;
    padding-bottom: 10px;
}



/*-------------- Styles to make the footer stick to the bottom of a page -------------*/
html,body{height:100%;}
.wrap {min-height: 100%;height: auto !important;height: 100%;}
.middle {overflow:auto;padding-bottom: 135px;}
footer{position: relative;margin-top: -135px;height: 135px;clear:both;}


div.ajax-loading{
    position:fixed; left:3%;text-align: center;top: 0;width: 90%;
    margin-bottom: 5px;font-weight: bold;font-size:2.2em;line-height:2.3em;padding: 10px 20px;clear:both;
    border-radius:0px;
    opacity:0.9;
    user-select: none;
    background-color:#fff4cc;color:#e79300;
    z-index:999999;
    display:none;
}
div.ajax-loading div{
    line-height:30px;
    text-align:center;
}
