<%= render 'partials/email_header' %>

      <div class="email-content">
            <p><%= @resource.name %>, welcome to MarketRex!</p>
			
			<p>Please confirm your account email by clicking the link below:</p>

            <p><%= link_to 'Confirm my email', confirmation_path(@resource, confirmation_token: @token) %></p>

      </div>
	  
	  <p>
	  Regards,
	  <br>
	  MarketRex Team
	  </p>


<%= render 'partials/email_footer' %>
