<%= render 'partials/email_header' %>

    <h1 class="email-main-hadding">Hi <%= @resource.name %>, </h1>

    <div class="email-content">
        <p>We're contacting you to notify you that your password has been changed.</p>
    </div>

<%= render 'partials/email_footer' %>