<tr class="tx_search_result_first_row">
	<td width="56" height="51">Name 
		<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
		</td>
	<td width="145"> </td>
	<td width="334">Address 
		<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
	</td>
	<td width="120">Company 
		<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
	</td>
	<td width="102">Base Rent 
		<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
	</td>
	<td width="97">SF 
		<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
	</td>
	<td width="104">Year 
		<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
	</td>
	<!-- <td width="122">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td> -->
	<!-- <td width="118">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td> -->
	<!-- <td width="34"></td> -->
</tr>