<tr class="tx_search_result_first_row">
	<td width="200" height="51">Name</td>
	
	<td width="100" height="51"></td>
	
	<td width="50"></td>
	
	<td width="350">Address 
		<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
		</td>
	<td width="150">Price 
		<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
		</td>
	<td width="150">SF 
		<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
		</td>
	<td width="150">Build Year 
		<!-- <a href="#!"> <i class="fa fa-caret-down"></i> </a> -->
		</td>
	
	<!-- <td width="122">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td> -->
	<!-- <td width="118">Header <a href="#!"> <i class="fa fa-caret-down"></i> </a></td> -->
	<!-- <td width="34"></td> -->
</tr>