



<div class="main_body_section">
  <div class="container">
  
<div class="row">

      <div class="Absolute-Center is-Responsive">
	  
        <div id="logo-container"></div>
        <div class="col-sm-12 col-md-12 ">
		
          <div class="tx_form_container">
	  
            <h2>Change Password</h2>
            
			
			<%= form_for(@user, :url => { :action => "password" } , html: { method: :post , :class => 'tx_form_content'} ) do |f| %>
			
              <div class="form-group input-group">
				 <%= f.password_field :password, autofocus: true , class: 'form-control' , placeholder: "Password" %>
              </div>
              
              
              <div class="form-group input-group">
			    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' , placeholder: "Confirm Password" %>
              </div>
             
              
              <div class="form-group">
			  <button class='btn btn-def btn-block tx_orange_btn' type='submit'>Change</button>
              </div>              
            
			<% end %>
          </div>
        </div>
      </div>
    </div>
	
	</div>
</div>
