<% if flash[:error].present?  %>

<br>
<ul class="alert alert-danger">
	  
	  <% if flash[:error].kind_of?(Array) %>
	  
	  <% flash[:error].each do |msg| %>
      <li><%= msg %></li>
	  
	  <% end %>
	  
	  <% else %>
	  <li><%= flash[:error] %></li>
	  <% end %>
	
</ul>

<% elsif flash[:success].present?  %>

<ul class="alert alert-success">
      <li><%= flash[:success] %></li>
</ul>
	
<% elsif notice %>
<br class="clear">
<p class="alert alert-success"><%= notice %></p>
<% end%>

