<%
bg_color = ""
if controller.action_name == 'home' || controller.action_name == 'plans'
	bg_color = "black_background"
end
%>
<footer class="tx_footer <%= bg_color%>" >
  <div class="container">
    <% if user_signed_in? %>
        <ul class="tx_footer-menu">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
    <% else %>
        <ul class="tx_footer-menu">
          <li><a href="#">CONTACT</a></li>
        </ul>
    <% end %>

    <ul class="tx_footer-links">
      <li><a href="#">&copy; 2016 TENANTREX, LLC.</a></li>
      <li><a href="#">TERMS OF SERVICE </a></li>
      <li><a href="#">PRIVACY POLICY</a></li>
    </ul>

  </div>
</footer>
