<% extra_class = "dark-footer" if show_dark_footer? %>
<% extra_class = "lx-footer" if action_name == 'about_lease' %>

<footer class="tx_footer <%= extra_class %>">
  <div class="container">

    <ul class="tx_footer-menu">

      <% footer_links = get_footer_links();
         unless footer_links == nil %>
            <% footer_links.each do |link| %>
                  <li><a href="<%= link[:href] %>"><%= link[:text] %></a></li>
            <% end %>
      <% else %>
          <li><a href="<%= about_marketrex_url %>">ABOUT</a></li>
          <li><a href="#">CONTACT</a></li>
      <% end %>
    </ul>


    <ul class="tx_footer-links">
      <li><a href="#">&copy; 2016 TENANTREX, LLC.</a></li>
      <li><a href="#">TERMS OF SERVICE </a></li>
      <li><a href="#">PRIVACY POLICY</a></li>
    </ul>

  </div>
</footer>
